/**************************General************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    color: #474051;
    margin: 0px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #05193a;
    position: absolute;
    cursor: none; /* Hide the default cursor */
}

:root {
    --cursor-x: 0;
    --cursor-y: 0;
}

body::-webkit-scrollbar {
    width: 20px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    background: rgb(55, 113, 171);        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(9, 70, 87);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(55, 113, 171);  /* creates padding around scroll thumb */
}

.custom-cursor {
    position: fixed;
    width: 80px; /* Adjust the width and height as needed */
    height: 80px;
    background: url("../images/kunai.png") no-repeat center;
    background-size: cover;
    pointer-events: none; /* Allow interactions with elements beneath the cursor */
    z-index: 9999; /* Ensure it's above other elements */
    transform: translate(var(--cursor-x), var(--cursor-y));
}

.dots{
    border-style:dotted none none none;
    border-color:white;
    border-width: 10px;
    height: 0px;
    width: 5%;
    margin: 70px auto;
}

html {
    scroll-behavior: smooth;
  }


/**************************Text************************/
h1{
    color: white;
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    line-height: 2;
}

h2{
    color: #0c6885;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: normal;
    padding-bottom: 4%;
}

h3{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

p{
    color: white;
    line-height: 2;
}

/*********************************Links****************************/
a{
    color: #166b85;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

a:visited{
    color: #166b85;
}

a:hover{
    color: #3bb7dd;
}

.cv-link{
    color: #166b85;
}

.back-to-top{
    color: #abd9e7;
    /*margin-top: 5px;*/
}

.back-to-top:visited{
    color: #abd9e7;
}

.back-to-topArt{
    color: #abd9e7;
    /*margin-top: 5px;*/
}

.back-to-top:hover{
    color: #3bb7dd;
}

.btn{
    color: #166b85;
}

.btn:visited{
    color: #166b85;
}

.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1rem;
    background: #166b85;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
  .btn:hover {
    background: #3bb7dd;
    text-decoration: none;
    color: #ffffff;
}

/**************************Navigation************************/
nav{
    z-index: 2;
    position: fixed;
    top: 0;
    width: 10%;
    height: 100%;
    font-size: 1.5rem;
    background-color: #03142e;
    border-right: 5px outset #3bb7dd;
}

.mainMenu{
    display: flex; 
    flex-direction: column;    
    justify-content: center;     
    gap: 10%;    
    /*align-items: space-around;  
    justify-content: space-evenly;  
    /*margin-top: auto;*/
    margin: 0 10%;
    height: 100%;
}

/*.mainMenu > li {
    display: inline;
}*/

/**************************Top************************/

.upper-section{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 1fr;
}


.top-container{
    background-color: #05193a;
    background-image: linear-gradient(rgb(28, 12, 71), rgb(58, 118, 187));
    display: flex;
    /*justify-content: space-around;
    flex-direction: column;*/
    margin-bottom: 50px;
    height: 100vh;
    position: fixed;
}

.logo{
    /*position: fixed;
    top: 15%;
    left: 25%;
    height: 20%;*/
    width: 30%;
    grid-row: 1/2;
    grid-column: 1/2;
    object-fit: contain;
}

.vivian{
    height: 550px;
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 4;
}

.main-heading{
    line-height: 2;
    grid-row: 1/2;
    grid-column: 1/3;
    /*text-align: center;
    align-self: center;
    flex-grow: 2;*/
    margin-top: 10%;
    margin-left: 10%;
    width: 60%;
    /*margin-left: 30%;*/

}   

.main-heading h1{
    /*position: fixed;
    top: 55%;
    right: 15%;*/
    z-index: 0;
    width: 60%;
}

.textLogo{
    animation-name: azureAnimation;
    animation-duration: 5s;
    width: 90%;
    /*position: fixed;
    top: 70%;
    right: 15%;*/
}

button{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    color: black;
    background-color: white;
    font-size: 1rem;
    padding: 1.3em 2em;
    /*position: fixed;
    top: 80%;
    right: 35%;*/
    border: none;
    border-radius: 45px;
    box-shadow: 5px #5b5b5b;
}

button:hover {
    letter-spacing: 3px;
    background-color: #166b85;
    color: hsl(0, 0%, 100%);
    box-shadow: #166b85 0px 7px 29px 0px;
}

button:visited{
    letter-spacing: 3px;
    background-color: #166b85;
    color: hsl(0, 0%, 100%);
    box-shadow: #166b85 0px 7px 29px 0px;
}

/**************************Middle************************/

.sectionLogo{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.middle-container{
    position: relative;
    background: linear-gradient(116deg,#418eb7,#3f83a7,#2d3b50);
    background-size: 100% 100%;
    animation: gradient-animation 12s ease infinite;
    padding: 0px 0px;
    z-index: 1;
}

.middle-container h2{
    color: white;
}

#mainPageBody{
    height: 100vh;
}

.profile{
    background: linear-gradient(116deg,#4180b7,#3f76a7,#2d3b50);
    background-size: 180% 180%;
    animation: gradient-animation 12s ease infinite;
    top: 50vh;
    padding: 5% 5%;
    width: 100%;
    z-index: 1;
}

.hello{
    font-size: 4rem;
    animation-name: azureAnimation;
    animation-duration: 4s;
    margin-bottom: 250px;
}

.picrew{
    position: fixed;
    top: 20%;
    left: 40%;
    margin-bottom: 30px;
    width: 20%;
    opacity: 1;
    transition: opacity 0.5s;
}

.intro{
    margin-bottom: 5%;
    /*position: fixed;
    top: 150vh;
    left: 30%*/
}

#intro-text{
    width: 80%;
    margin: auto;
}

.myname{
    font-size: 1.4rem;
}

.intro-skills{
    /*position: fixed;
    top: 150vh;
    left: 35%;*/
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.intro-class-header{
    font-size: large;
}

.skill-images{
    width: 10%;
}

.skill-row{
    line-height: 2;
    text-align: left;
    margin:50px auto;
    width: 80%;
}

.dev-icon{
    float: left;
    margin-right: 4%;
    position: relative;
    top: 0px;
}

.design-icon{
    float: left;
    margin-right: 4%;
    position: relative;
    top: 0px;
}

/*****************************************************/

#mainContent{
    background-color: #05193a;
    padding: 10% 5%;
    z-index: 3;
}

.tech-icons-box{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.tech-icon{
    width: 40%;
    /*transition: transform 250ms;*/
}

.tech-icon:hover{
    transform: translateY(-10px);
}

.xml-icon{
    width: 76%;
    transition: transform 250ms;
}

.xml-icon:hover{
    transform: translateY(-10px);
}

.thumbnail{
    width: 70%;
    border: 2px white solid;
    border-radius: 20px;
    transition: all .2s ease-in-out;
}

.thumbnail:hover{
    transform: scale(1.1); 
    border: 2px #3bb7dd solid;
    border-radius: 20px;
}

.skill-row p{
    width: 70%;
}


/**************************Contact************************/
.contact-me{
    width: 100%;
    margin: 0;
    /*
    background-color: #864879;
    margin-bottom: 30px;
    height: 100vh;
    position: fixed;
    top: 1220vh;
    z-index: 2;*/
}

.contactSocials{
    /*margin-top: auto;
    margin-bottom: auto;*/
    display: flex;
    justify-content:space-around;
    gap: 5%;
    align-items: center;
    width: 80%;
    margin: 0 10%;
}

.socialIcons{
    text-align: center;
    width: 100%;
    display: inline-block;
    /*
    background-color: #eae6f1;
    margin-left: auto;
    margin-right: auto;*/
}

/*********************** Back-to-top button **********************/

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(8, 127, 140); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 60px; /* Rounded corners */
    font-size: 25px; /* Increase font size */
  }
  
#myBtn:hover {
    background-color: #0c5c79; /* Add a dark-grey background on hover */
}

/*******************************POP-UP****************************/

#popUpParallax{
    background-color: rgb(8, 127, 140);
    z-index: 10;
}

/*************************** ANIMATIONS ***************************/

@keyframes azureAnimation{
    from {opacity: 0}
    to {opacity: 1;}
    }

.contact-message{
    width: 60%;
    margin: 30px auto 40px;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

/*****Main heading animation******/

.hiddenTitle {
    opacity: 0;
    transition: all 2s;
    filter: blur(5px);
    transform: translate(-100%);
}

.showTitle {
    opacity: 1;
    filter: blur(0px);
    transform: translate(0%);
}

/*****Tech icons animation******/

.hiddeniconLeft{
    opacity: 0;
    transition: all 1.5s;
    /*filter: blur(5px);*/
    transform: translate(-100%);
}

.showniconLeft{
    opacity: 1;
    /*filter: blur(0px);*/
    transform: translate(0%);
    width: 30%;
}

.hiddeniconRight{
    opacity: 0;
    transition: all 1.5s;
    /*filter: blur(5px);*/
    transform: translate(100%);
}

.showniconRight{
    opacity: 1;
    /*filter: blur(0px);*/
    transform: translate(0%);
    width: 30%;
}

.parallaxContainerHidden{
    opacity: 0;
    transition: all 1.5s;
    /*filter: blur(5px);*/
    transform: translate(-100%);
}

.parallaxContainerShown{
    opacity: 1;
    /*filter: blur(0px);*/
    transform: translate(0%);
}

.motionContainerHidden{
    opacity: 0;
    transition: all 1.5s;
    /*filter: blur(5px);*/
    transform: translate(-100%);
    text-align: right;
}

.motionContainerShown{
    opacity: 1;
    /*filter: blur(0px);*/
    transform: translate(0%);
    text-align: right;
}

.motionContainerShown p{
    text-align: right;
    margin-left: auto;
}

.motionContainerShown h3{
    text-align: center;
}

/*****Intro animation******/

.hiddenIntro{
    opacity: 0;
    transition: all 1.5s;
    filter: blur(5px);
    transform: translate(0, 100%);
}

.showIntro{
    opacity: 1;
    filter: blur(0px);
    transform: translate(0%);
}

/*******************Zach*************************/

.zachText{
    width: 40%;
    position: absolute;
    top:-5%;
    left: -15%;
    opacity: 1;
    transition: opacity 0.5s; 
}

/*.zachNoText{
    width: 50%;
    position: absolute;
    top:-5%;
    left: -20%;
    opacity: 1;
    transition: opacity 0.5s; 
}


.zachText:hover{
    opacity: 1;
}

.zachNoText:hover{
    opacity: 0;
}*/

/*******************Meee*************************/

.mePNG{
    opacity: 1;
    transition: opacity 0.5s; 
}

.mePNG:hover{
    opacity: 0;
    display: none;
}

.meJPG{
    opacity: 0;
    transition: opacity 0.5s; 
}

.meJPG:hover{
    opacity: 1;
}

.image-container {
    position: relative;
    width: 50%; /* Adjust the width of the container */
    overflow: hidden;
}

.image-container:hover .mePNG {
    opacity: 0;
}

.image-container:hover .meJPG {
    opacity: 1;
}

/*/**************************Media Queries************************/

/*Larger than 4K Devices (2560 x 1440)*/
@media screen and (min-width: 2560px) {

}

/*4K Devices (2560 x 1440)*/
@media screen and (max-width: 2559px) {

}

/*Large Laptop (1440 x 810)*/
@media screen and (max-width: 1440px) {

}

/*Small Laptop (1024 x 576)*/
@media screen and (max-width: 1024px) {

}

/*Laptops (1024 x 576)*/
@media screen and (max-width: 1024px) {

}

/*Tablets (max width: 768px)*/
@media screen and (max-width: 768px) {
    
}

/*Phones (max width: 650px)*/
@media screen and (min-width: 650px) and (max-width: 767px){
    
}

/*Medium Phones (375 x 210)*/
@media screen and (max-width: 649px){
    .logo{
        width: 20%;
        margin-left: auto;
        margin-right: auto;
    }
    .tech-icons-box{
        flex-wrap: wrap;
        width: 100%;
    }
    
    .tech-icon{
        width: 30%;
        /*transition: transform 250ms;*/
    }
    
    .top-container{
        position: absolute;
        overflow: hidden;
        left: 0;
        right: 0;
        margin: 0;
        flex-direction: column;
        width:100%;
        height: 100%;
    }

    .main-heading h1{
        font-size: 1em;
    }

    .main-heading h2{
        font-size: 0.8em;
    }

    .socialIcons{
        text-align: center;
        width: 50%;
        margin: 0;
    }
    
    .nav{
        position: absolute;
    }
}


/*Small Phones (320 x 180)
@media screen and (max-width: 320px) {
    Default code 
}
*/

#contentToShoft {
    display: none;
    margin-top: 0;
    transition: margin-top 0.5s;
  }

  #embeddedFrame {
    position: relative;
    left: -17%;
    width: 134%;
    height: 700px;
    display: none;
  }