/**************************Media Queries************************/

/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {

}*/

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {

}*/

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {
    h1{
        font-size: 4rem;
    }

    .logo{
        width: 30%;
        top: 20%;
    }

    .main-heading h2{
        font-size: 1.8rem;
    }

    .intro h1{
        font-size: 2.6rem;
    }
    
    .picrew{
        width: 30%;
    }

    #intro-text{
        width: 70%;
    }

    .intro-skills{
        width: 90%;
        left: 65%;
    }

    .skill-images{
        width: 10%;
    }

    .skill-row{
        line-height: 1.5;
        text-align: left;
        margin:10px auto;
        width: 30%;
    }

    #skills{
        height: 190vh;
    }
}*/

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    h1{
        font-size: 4.5rem;
    }

    .logo{
        width: 30%;
        top: 20%;
    }

    .intro{
        left: 0%;
        margin-right: 30%;
    }

    .main-heading h2{
        font-size: 2rem;
    }

    .intro h1{
        font-size: 3.2rem;
    }

    .picrew{
        width: 60%;
    }

    #intro-text{
        width: 80%;
    }

    .intro-skills{
        width: 90%;
        left: 65%;
    }

    .skill-images{
        width: 10%;
    }

    .skill-row{
        line-height: 1.5;
        text-align: left;
        margin:10px auto;
        width: 30%;
    }

    #skills{
        height: 180vh;
    }
}*/

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {
 
}*/